@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-background: #f4f4f4;
  --color-foreground: #0b0d10;

  --color-brand-blue: #478beb;
  --color-brand-gray: #5f6368;
  --color-brand-light-gray: #262626;
}

@layer base {

  *,
  ::after,
  ::before {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .font-helvetica {
    font-family: var(--font-helvetica), Arial, sans-serif;
  }
}

.swiper-pagination {
  width: fit-content;
  margin: 28px auto 0;
  display: flex;
  gap: 10px;
  backdrop-filter: blur(4px);
  background: rgba(217, 217, 217, 0.9);
  border-radius: 50px;
  padding: 20px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #a8a8a9;
  border-radius: 5px;
  transition: width .3s ease, background .3s ease;
}

.swiper-pagination-bullet-active {
  width: 40px;
  background: #0a051a;
}