@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-background: #f4f4f4;
  --color-foreground: #0b0d10;

  --color-brand-blue: #478beb;
  --color-brand-gray: #5f6368;
  --color-brand-light-gray: #262626;


  --ease-soft: cubic-bezier(0.4, 0.0, 0.2, 1);
  --ease-float: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-drift: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-chaos: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}

@layer base {

  *,
  ::after,
  ::before {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .font-helvetica {
    font-family: var(--font-helvetica), Arial, sans-serif;
  }
}

.swiper-pagination {
  width: fit-content;
  margin: 28px auto 0;
  display: flex;
  gap: 10px;
  backdrop-filter: blur(4px);
  background: rgba(217, 217, 217, 0.9);
  border-radius: 50px;
  padding: 20px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #a8a8a9;
  border-radius: 5px;
  transition: width .3s ease, background .3s ease;
}

.swiper-pagination-bullet-active {
  width: 40px;
  background: #0a051a;
}

/* styles/globals.css или отдельный файл */
.pattern-bg {
  background-image: url('/images/cases/decor.svg');
  background-repeat: repeat;
  background-size: 14px 13px;
}


/* ===== базовое ===== */
.step {
  position: absolute;
  opacity: 0;
  transform: translateY(6px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none;
}

/* ноги */
.step-left {
  top: 30%;
  transform: rotate(-6deg) translateY(6px);
}

.step-right {
  top: 40%;
  transform: rotate(6deg) translateY(6px);
}

/* позиции по X */
.step-1 {
  left: 28%;
}

.step-2 {
  left: 35%;
}

.step-3 {
  left: 42%;
}

.step-4 {
  left: 49%;
}

.step-5 {
  left: 56%;
}

.step-6 {
  left: 63%;
}

/* hover */
.living-zone {
  position: absolute;
  top: 48%;
  left: 0.1%;
  width: 15.4%;
  height: 19.5%;
}

.living-zone:hover .step {
  transform: rotate(0deg) translateY(0);
}

/* последовательность + прозрачность */
.living-zone:hover .step-1 {
  opacity: 0.25;
  transition-delay: 0ms;
}

.living-zone:hover .step-2 {
  opacity: 0.35;
  transition-delay: 120ms;
}

.living-zone:hover .step-3 {
  opacity: 0.5;
  transition-delay: 240ms;
}

.living-zone:hover .step-4 {
  opacity: 0.7;
  transition-delay: 360ms;
}

.living-zone:hover .step-5 {
  opacity: 0.85;
  transition-delay: 480ms;
}

.living-zone:hover .step-6 {
  opacity: 1;
  transition-delay: 600ms;
}

/* сброс задержки при уходе */
.living-zone .step {
  transition-delay: 0ms;
}

/* Анимация датчика в прихожей */

.sensor {
  position: absolute;
  bottom: 2%;
  right: 1%;
  width: 24px;
  height: 24px;
  pointer-events: none;
  overflow: visible;
}

.sensor-icon {
  position: relative;
  z-index: 5;
}

.pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transform-origin: center;
}

@keyframes pulse-anim {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}

.sensor.active .pulse1 {
  animation: pulse-anim var(--pulse-speed, 1.5s) infinite;
  animation-delay: 0s;
  opacity: 1;
}

.sensor.active .pulse2 {
  animation: pulse-anim var(--pulse-speed, 1.5s) infinite;
  animation-delay: 0.3s;
  opacity: 1;
}

.sensor.active .pulse3 {
  animation: pulse-anim var(--pulse-speed, 1.5s) infinite;
  animation-delay: 0.6s;
  opacity: 1;
}

/* CCTV */
.living-cctv {
  position: absolute;
  top: -7%;
  right: -6.2%;
  display: block;
  transform-origin: calc(100% - 22px) 11px;
  pointer-events: none;
}

@media (min-width: 640px) {
  .living-cctv {
    animation: cctv-anim 7s infinite linear;

  }
}


@keyframes cctv-anim {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }

  50% {
    transform: rotate(-40deg) translate(-5px, 1px);
  }

  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

.bedroom-zone {
  position: absolute;
  left: 11.4%;
  bottom: 9.2%;
  width: 38.3%;
  height: 22.4%;
}

.bedroom-zone:hover .lamp-off {
  opacity: 0;
}

.bedroom-zone:hover .lamp-on {
  opacity: 1;
}

.bedroom-zone.dark-theme .lamp-off {
  opacity: 0;
}

.bedroom-zone.dark-theme .lamp-on {
  opacity: 1;
}

.bedroom-zone:hover .curtain-open {
  opacity: 0;
}

.bedroom-zone:hover .curtain-close {
  opacity: 1;
}

.bedroom-zone .curtain {
  display: block;
  position: absolute;
  top: 13.3%;
  left: -3%;
  transition: 0.4s;
  pointer-events: none;
}

.bedroom-zone .curtain-open {
  opacity: 1;
}

.bedroom-zone.dark-theme .curtain-open {
  opacity: 0;
}

.bedroom-zone .curtain-close {
  opacity: 0;
}

.bedroom-zone.dark-theme .curtain-close {
  opacity: 1;
}

.bedroom-zone .lamp {
  display: block;
  position: absolute;
  bottom: -10.3%;
  left: -2.9%;
  pointer-events: none;
  transition: opacity 0.4s .2s;
}

.bedroom-zone .lamp-off {
  opacity: 1;
}

.bedroom-zone .lamp-on {
  opacity: 0;
}


.kitchen-zone {
  position: absolute;
  width: 20.7%;
  height: 35.4%;
  right: 14.7%;
  bottom: 16.8%;
}

.kitchen-zone-2 {
  position: absolute;
  width: 69.2%;
  height: 100%;
  bottom: -21.6%;
  right: 100%;
}

.kitchen-zone:hover .lamp-off {
  opacity: 0;
}

.kitchen-zone:hover .lamp-on {
  opacity: 1;
}

.kitchen-zone.dark-theme .lamp-off {
  opacity: 0;
}

.kitchen-zone.dark-theme .lamp-on {
  opacity: 1;
}

.kitchen-zone .lamp {
  display: block;
  position: absolute;
  top: -5.6%;
  left: -3%;
  pointer-events: none;
  transition: opacity 0.3s;
}

.kitchen-zone:hover .conditioner-off {
  opacity: 0;
}

.kitchen-zone:hover .conditioner-on {
  opacity: 1;
}

.kitchen-zone.dark-theme:hover .conditioner-off {
  opacity: 1;
}

.kitchen-zone.dark-theme:hover .conditioner-on {
  opacity: 0;
}

.kitchen-zone .conditioner {
  display: block;
  position: absolute;
  top: 26.8%;
  left: -12.3%;
  pointer-events: none;
  transition: 0.4s;
}

.kitchen-zone .conditioner-on {
  left: -11.6%;

}

.kitchen-zone .lamp-off {
  opacity: 1;
}

.kitchen-zone .lamp-on {
  opacity: 0;
}

.kitchen-zone .conditioner-off {
  opacity: 1;
}

.kitchen-zone .conditioner-on {
  opacity: 0;
}

.garage-zone {
  position: absolute;
  top: 17%;
  right: 0%;
  width: 13.9%;
  height: 66.9%;
}

.garage-cctv {
  position: absolute;
  top: -2.8%;
  left: -28%;
  display: block;
  transform-origin: calc(100% - 22px) 11px;
  pointer-events: none;
  transform: scaleX(-1) rotate(-10deg) translate(0, 0);
}

.garage-zone:hover .garage-cctv {
  animation: garage-cctv-anim 4s linear forwards;
}

@keyframes garage-cctv-anim {
  0% {
    transform: scaleX(-1) rotate(-10deg) translate(0, 0);
  }

  50% {
    transform: scaleX(-1) rotate(-40deg) translate(-5px, 1px);
  }

  100% {
    transform: scaleX(-1) rotate(-10deg) translate(0, 0);
  }
}


.sitting-zone {
  position: absolute;
  width: 20.5%;
  height: 30.3%;
  top: 16.2%;
  right: 14.6%;
}


.sitting-zone .curtain {
  display: block;
  position: absolute;
  transform: rotate(90deg);
  top: -1.7%;
  left: -7.5%;
  transition: 0.5s;
  pointer-events: none;
}

.blur-anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.blur-anim div {
  position: absolute;
  width: 10%;
  bottom: -10px;
  backdrop-filter: blur(2px);
  background: linear-gradient(270deg,
      rgba(217, 217, 217, 0.8),
      rgba(217, 217, 217, 0.3),
      rgba(217, 217, 217, 0.8));
  background-size: 300% 300%;
  will-change: transform, opacity;
}

/* Анимация включается только через класс .active */
.blur-anim.active div {
  animation: blurFlow 6s ease-in-out infinite;
}

@keyframes blurFlow {
  0% {
    background-position: 0% 50%;
    backdrop-filter: blur(3px);
    opacity: 0.8;
  }

  50% {
    background-position: 100% 50%;
    backdrop-filter: blur(4px);
    opacity: 1;
  }

  100% {
    background-position: 0% 50%;
    backdrop-filter: blur(3px);
    opacity: 0.8;
  }
}

.blur-anim div:nth-child(odd) {
  animation-delay: -2s;
}

.blur-anim div:nth-child(even) {
  animation-delay: -4s;
}

.blur-anim div:nth-child(1) {
  left: 0%;
  height: 69%;
}

.blur-anim div:nth-child(2) {
  left: 10%;
  height: 64%;
}

.blur-anim div:nth-child(3) {
  left: 20%;
  height: 59%;
}

.blur-anim div:nth-child(4) {
  left: 30%;
  height: 54%;
}

.blur-anim div:nth-child(5) {
  left: 40%;
  height: 49%;
}

.blur-anim div:nth-child(6) {
  left: 50%;
  height: 44%;
}

.blur-anim div:nth-child(7) {
  left: 60%;
  height: 39%;
}

.blur-anim div:nth-child(8) {
  left: 70%;
  height: 34%;
}

.blur-anim div:nth-child(9) {
  left: 80%;
  height: 29%;
}

.blur-anim div:nth-child(10) {
  left: 90%;
  height: 24%;
}

@keyframes scroll-y-down {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(-50%)
  }
}

/*  */

.team-col {
  will-change: transform;
}

@keyframes scroll-y-up {
  from {
    transform: translateY(-50%)
  }

  to {
    transform: translateY(0)
  }
}


@keyframes scroll-x-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-x-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

/* mobile */
.team-col--left {
  animation: scroll-x-left 25s linear infinite
}

.team-col--right {
  animation: scroll-x-right 25s linear infinite
}

/* desktop */
@media (min-width: 1024px) {
  .team-col--left {
    animation: scroll-y-down 30s linear infinite
  }

  .team-col--right {
    animation: scroll-y-up 30s linear infinite
  }
}

.close-btn:after,
.close-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #5f6368;
  border-radius: 2px;
  height: 2px;
  width: 15px;
}

.close-btn:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* globals.css */
@keyframes fade-in {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out forwards;
}

.animate-scale-in {
  animation: scale-in 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.text-wrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.text-slide {
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
}

.image-0,
.image-1,
.image-2,
.image-3 {
  opacity: 0;
}

.image-0 {
  opacity: 1;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@keyframes text-fill-shadow {
  0% {
    color: #a8a8a9;
    text-shadow:
      0 0 0 rgba(#0b0d10, 0),
      0 0 0 rgba(#0b0d10, 0);
  }

  100% {
    color: #1a1a1a;
    text-shadow:
      0 1px 1px rgba(#0b0d10, 0.35),
      0 6px 18px rgba(#0b0d10, 0.45);
  }
}

.animate-text-fill {
  animation: text-fill-shadow 1.2s ease-out forwards;
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(70px);
  will-change: transform;
  opacity: 0.95;
}

/* Тёплый золотой */
.blob-1 {
  width: 420px;
  height: 420px;
  background: radial-gradient(circle,
      #ffb648 0%,
      #c97a00 45%,
      transparent 75%);
  top: -10%;
  left: -5%;
}

/* Фиолетовый неоновый */
.blob-2 {
  width: 360px;
  height: 360px;
  background: radial-gradient(circle,
      #c65cff 0%,
      #6b1bb1 50%,
      transparent 75%);
  bottom: 10%;
  right: -10%;
}

/* Световой блик */
.blob-3 {
  width: 520px;
  height: 240px;
  background: radial-gradient(circle,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.35) 40%,
      transparent 70%);
  top: 40%;
  left: 10%;
  mix-blend-mode: screen;
}

/* Голубой неон */
.blob-4 {
  width: 520px;
  height: 240px;
  background: radial-gradient(circle,
      #6fdcff 0%,
      #1c7fd6 50%,
      transparent 75%);
  bottom: -10%;
  left: 20%;
}