@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-background: #f4f4f4;
  --color-foreground: #0b0d10;

  --color-brand-blue: #478beb;
  --color-brand-gray: #5f6368;
  --color-brand-light-gray: #262626;
}

@layer base {

  *,
  ::after,
  ::before {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .font-helvetica {
    font-family: var(--font-helvetica), Arial, sans-serif;
  }
}